#header {
    border: solid 1px black;
    text-align: center;
    background-color: aqua;
    height: 60px;
    width: auto;
}

.container {
    border: solid 3px purple;
    display: flex;
    height: calc(100vh - 10vh);
    width: 100vw;
    box-sizing: border-box;
}

#todaysforecast {
    height: 30%;
}

.sidebar {
    max-width: 20%;
    min-width: 20%;
    border: solid 3px darkcyan
}

#search {
    width: 100%;
    height: 5%;
}

.btn-primary {
    width: 100%;
}

.weather {
    border: solid 3px red;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}


.cards-header {
    width: 100%;
    text-align: center;
    padding: 20px;
    border: solid 3px greenyellow;
}

.list-group-item {
    padding: 0px;
    line-height: 7;
  
}

#card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border: solid 3px orange;
    padding: 0px;
    height: 50%;
}

.card {
    display: flex;
    justify-content: flex-start;
}

.list-group-item{
    min-width: max-content;
}

.col-12 {
    border: solid 3px red;
}

.col {
    border: solid 3px blue;
}

