#header {
    text-align: center;
    background-color: aqua;
    height: 60px;
    width: auto;
}

body {
    background-color: aqua;
}

.cards-header {
    font-weight: bold;
    font-size: 30px;
    background-color: skyblue;
}

.container {
    display: flex;
    height: calc(100vh - 10vh);
    width: 100vw;
    box-sizing: border-box;
}

#todaysforecast {
    height: 25%;
    list-style: none;
    font-weight: bold;
    font-size: 17px;
    background-color: lightgray;
}

.sidebar {
    max-width: 20%;
    min-width: 20%;
    border: solid 2px black;
    background-color: skyblue;
    border-left: solid 3px black;
    border-bottom: solid 3px black;
}

#search {
    width: 100%;
    height: 5%;
    font-weight: bold;
    background-color: beige;    
}

.btn-primary {
    width: 100%;
    font-weight: bold;
}

.weather {
    border-left: solid 1px black;
    border-bottom: solid 3px black;
    border-right: solid 3px black;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    background-color: skyblue;
}


.cards-header {
    width: 100%;
    text-align: center;
    padding: 20px;
    border: solid 3px black;
}

.list-group-item {
    padding: 0px;
    line-height: 7;  
}

#card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 20px;
    padding: 0px;
    height: 50%;
}

.card-body {
    background-color: lightgray;
}

.list-group-item {
    background-color: lightgray;
}

.card {
    display: flex;
    justify-content: flex-start;
}

.list-group-item{
    min-width: max-content;
    font-weight: bold;
    font-size: 17px;
}

.col-12 {
    border: solid 1px black;
}

.col {
    border: solid 1px black;
}

.saved-search-btn {
    display: block; 
    width: 100%;
    text-align: center;
    margin: 5px auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-word; 
    font-weight: bold;
}

#savedSearches {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    max-height: calc(100%-41%);
    background-color: lightgray;
    border-bottom: solid 3px black;
}
